*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainBg:hsl(217, 54%, 11%);
    --mainColorDecorator: #38ef7d;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-form{
    width: 50%;
    background: white;
    box-shadow: 2px 2px 8px 1px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.input-fields{
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20%;
    width: 100%;
}

input[type="text"]{
    border-radius:10px;
    box-shadow: 2px 2px 5px black;
}

#btnCalcular{
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 5px;
    background-color: var(--mainColorDecorator);
}

#btnCalcular:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.btn-container{
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
}

@media screen and (max-width:500px) {
    label{
        font-size: 0.9rem;
        
       
    }

    .input-fields{
        column-gap: 10%;
    }

    input[type="text"]{
        border-radius:5px;
        width: 100%;
    }

    .input-form{
        width: 70%;
    }

    input[type="text"]{
        width: 100%;
        height: 5%;
    }
    
}